<div class="leftside-menu ">
    <div class="d-flex flex-column flex-shrink-0  h-100 w-100">
        <a href="/"
            class="d-flex align-items-center justify-content-center bg-blue p-3 link-body-emphasis text-decoration-none corner"
            data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-align-justified"
                width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M4 6l16 0" />
                <path d="M4 12l16 0" />
                <path d="M4 18l12 0" />
            </svg>
        </a>
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
            <li class="nav-item">
                <a href="#" class="nav-link  py-4  rounded-0" aria-current="page" data-bs-toggle="tooltip"
                    data-bs-placement="right" aria-label="Home" data-bs-original-title="Home">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-box" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M12 3l8 4.5l0 9l-8 4.5l-8 -4.5l0 -9l8 -4.5" />
                        <path d="M12 12l8 -4.5" />
                        <path d="M12 12l0 9" />
                        <path d="M12 12l-8 -4.5" />
                    </svg>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-4  rounded-0" data-bs-toggle="tooltip" data-bs-placement="right"
                    aria-label="Dashboard" data-bs-original-title="Dashboard">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-bar"
                        width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50"
                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M3 12m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
                        <path
                            d="M9 8m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
                        <path
                            d="M15 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
                        <path d="M4 20l14 0" />
                    </svg>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-4 active  rounded-0" data-bs-toggle="tooltip"
                    data-bs-placement="right" aria-label="Orders" data-bs-original-title="Orders">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" class="lucide lucide-copy-plus">
                        <line x1="15" x2="15" y1="12" y2="18" />
                        <line x1="12" x2="18" y1="15" y2="15" />
                        <rect width="14" height="14" x="8" y="8" rx="2" ry="2" />
                        <path d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2" />
                    </svg>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-4 path  rounded-0" data-bs-toggle="tooltip"
                    data-bs-placement="right" aria-label="Products" data-bs-original-title="Products">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                        <path
                            d="m381-240 424-424-57-56-368 367-169-170-57 57 227 226Zm-57 56L98-410q-12-12-17.5-26.5T75-466q0-15 5.5-30T98-523l56-56q12-12 26.5-18t30.5-6q16 0 30.5 6t26.5 18l113 113 310-311q11-12 26-17.5t30-5.5q15 0 30 5.5t27 16.5l57 56q12 12 18 26.5t6 30.5q0 16-5.5 30.5T862-608L438-184q-12 12-27 18t-30 6q-15 0-30-6t-27-18Z" />
                    </svg>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-4  rounded-0" data-bs-toggle="tooltip" data-bs-placement="right"
                    aria-label="Customers" data-bs-original-title="Customers">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings"
                        width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50"
                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" />
                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                    </svg>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-4  rounded-0" data-bs-toggle="tooltip" data-bs-placement="right"
                    aria-label="Customers" data-bs-original-title="Customers">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-download"
                        width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50"
                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
                        <path d="M7 11l5 5l5 -5" />
                        <path d="M12 4l0 12" />
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>